header{
    border-radius: 24px;
    background-color: black;
    height: 150px;
    padding: 12px;
}

.logo{
    height: 150px;
    border-radius: 50%;
}

.navigazione{
    width: 100px;
    display:inline-block;
    font-size: x-large;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 8px;
    border-radius: 24px;
    
}

.head-1{
    display: inline;
    width: 750px;
   
} 

.head-2{
    background-color: aquamarine;
    display: inline;
    position: relative;
    left: 500px;
    bottom: 8px;
} 

footer {
    width: 50%;
    height: 20px;
    margin: 25%;
    background: #0505052d;
    color: rgb(0, 0, 0);
 text-align: center;
}

.mapouter{
    position:relative;
    text-align:right;
    width:400px;
    height:400px;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    width:400px;
    height:400px;
}

.gmap_iframe {
    width:400px!important;
    height:400px!important;
}
