

header{
    border-radius: 24px;
    background-color: black;
    height: 150px;
    padding: 12px;
}

.logo{
    height: 150px;
    border-radius: 50%;
}

.navigazione{
    width: 100px;
    display:inline-block;
    font-size: x-large;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 8px;
    border-radius: 24px;
    
}

.head-1{
    display: inline;
    width: 750px;
   
} 

.head-2{
    background-color: aquamarine;
    display: inline;
    position: relative;
    left: 500px;
    bottom: 8px;
} 

footer {
    width: 50%;
    height: 20px;
    margin: 25%;
    background: #0505052d;
    color: rgb(0, 0, 0);
 text-align: center;
}

h2 {
    color: #D32F2F;
}

.menu1{

width: 900px;
        background-color: rgb(0, 0, 0);
        margin: 20px auto;
        padding: 15px;
        width: 80%;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
}

/* .sushiblack{

width: 50%;


} */